:root{
  --color-10: #375b7f;
  --color-11: #3f82c6;
  --color-12: #9eb7cd;
  --color-13: #cacecc;
  --color-20: #b47955;
  --color-30: #041A28;
  --color-bg-img: #f7ceba;

  --Handwriting: 'Birthstone Bounce', cursive;
  --Title: 'Abril Fatface', cursive;
  --Main-Font: 'Hind Madurai', sans-serif;
}