:root{
  --color-10: #67282D;
  --color-11: #DFADB1;
  --color-12: #E2DEDB;
  --color-13: #ededec;
  --color-20: #aa2424;
  --color-30: #041A28;
  --color-bg-img: #f0eed7d3;

  --Handwriting: 'Birthstone Bounce', cursive;
  --Title: 'Abril Fatface', cursive;
  --Main-Font: 'Hind Madurai', sans-serif;
}